@page
@model PRN222.Pages.Nurse.NurseHomePageModel
@{
    ViewData["Title"] = "Nurse Home Page";
}

<h2>Nurse Home Page</h2>

<ul>
    <li>
        <a asp-page="MedicationRequest">Medication Request</a>
    </li>
    <li>
        <a asp-page="Health Check/HealthCheck">Health Check</a>
    </li>
    <li>
        <a asp-page="Consent/ViewConsent">View Consent</a>
    </li>
</ul>
